[submodule "steamworksconnectionlinux"]
	path = steamworksconnectionlinux
	url = ../../csgo/steamworksconnectionlinux.git
[submodule "rabbitcommunicationlib"]
	path = RabbitCommunicationLib
	url = ../../engine/RabbitCommunicationLib.git
