[submodule "steamworksconnectionlinux"]
	path = steamworksconnectionlinux
	url = ../../csgo/steamworksconnectionlinux.git
[submodule "rabbitcommunicationlib"]
	path = rabbitcommunicationlib
	url = ../../engine/RabbitCommunicationLib.git
